*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-block;
  width: var(--wui-slider-width, 200px);
}

:host([disabled]) {
  cursor: not-allowed;
}

.wui-slider-track {
  cursor: pointer;
  user-select: none;

  position: relative;

  width: 100%;
  height: var(--wui-slider-height, 6px);
  border-radius: calc(infinity * 1px);

  background-color: #e5e5e7;

  &:focus-visible {
    outline-color: rgb(0 136 255 / 0.4);
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.38;
  }
}

.wui-slider-progress {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;

  border-radius: inherit;

  background-color: #087ff5;
}

.wui-slider-marks {
  pointer-events: none;

  position: absolute;
  z-index: 2;
  top: calc(100% + 4px);
  right: var(--wui-slider-marks-inset, 0);
  left: var(--wui-slider-marks-inset, 0);

  height: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.wui-slider-mark {
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #c6c6c8;
}

.wui-slider-thumb {
  cursor: inherit;

  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--wui-slider-thumb-width, 32px);
  height: var(--wui-slider-thumb-height, 24px);
  border-radius: calc(infinity * 1px);

  transition: filter 0.15s ease;
}

.wui-slider-thumb:not(.wui-glass) {
  border: 0;
  background-color: #fff;
  filter: drop-shadow(0 3px 12px rgb(0 0 0 / 0.08));
  outline: 1px solid rgb(51 51 51 / 0.06);
}
