:host {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .svg-clone {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  slot[hidden] {
    display: contents;
    visibility: hidden;
  }
}
