*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

.back-top-inner {
  pointer-events: none;

  position: fixed;
  z-index: var(--web-ui-back-top-z-index, auto);
  top: var(--web-ui-back-top-top, auto);
  right: var(--web-ui-back-top-right, 20px);
  bottom: var(--web-ui-back-top-bottom, 20px);
  left: var(--web-ui-back-top-left, auto);

  visibility: hidden;
  opacity: 0;

  .back-top-inner:focus-visible {
    border-radius: calc(infinity * 1px);
    outline: 3px solid rgb(0 136 255 / 0.4);
    outline-offset: 2px;
  }
}

:host([visible]) .back-top-inner {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
