:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--wui-icon-color, inherit);
}

svg {
  display: block;
}

:host([spin]) svg {
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
