/* FIXME:remove 只有当组件被定义（注册）后才显示 */
:not(:defined) {
  display: none;
}

:root {
  --web-ui-base-layout-header-height: 64px;
  --web-ui-base-layout-sidebar-width: 300px;
  --web-ui-base-layout-bg: #f5f5f5;

  margin: 0;
  padding: 0;

  body {
    margin: 0;
    padding: 0;
  }
}
