*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.wui-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: inherit;
}
